
body{
    display: flex;
    background-image: linear-gradient(black, #595959 );
    padding-bottom: 20px;
}


.nome{
    background-color: #595959;
    border: solid 1px #595959;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0d0d0d;
    margin-top: 40px;
    margin-left: 40px;
    width: 348px;
    height: 292px;
}

.nome img {
    height: 128px;
    width: 128px;
    margin-top: 32px;
}

.nome h3{
    text-align: center;
    margin-top: 30px;
    color: #F2F2F2;
}
.nome p {
    text-align: center;
    color: #A0BF30;
}

.links{
    background-color: #595959;
    color: #F2F2F2;
    border: solid 1px #595959;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0d0d0d;
    margin-left: 40px;
    margin-top: 30px;
    width: 348px;
    height: 348px;
}

.local{
    margin-top: 34px;
    display: flex;
}
.local img {
    margin-left: 40px;
    width: 24px;
    height: 24px;
}
.local p {
    margin-left: 20px;
    
}

.school{
    display: flex;
}
.school img{
    margin-left: 40px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}
.school p {
    margin-left: 20px;
    margin-top: 20px;
}

.github{
    display: flex;
}
.github img{
    margin-left: 40px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}
.github p {
    margin-left: 20px;
    margin-top: 20px;
    
}
.github p a {
    color: #F2F2F2;
    text-decoration: none;
}

.linkedin{
    display: flex;
}
.linkedin img{
    margin-left: 40px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}
.linkedin p {
    margin-left: 20px;
    margin-top: 20px;
}
.linkedin p a {
    color: #F2F2F2;
    text-decoration: none;
}


.email{
    display: flex;
}
.email img{
    margin-left: 40px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}
.email p {
    margin-left: 20px;
    margin-top: 20px;
}

.tecnologias{
    background-color: #595959;
    border: solid 1px #595959;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0d0d0d;
    margin-left: 40px;
    margin-top: 30px;
    width: 348px;
    height: 208px;
}

.tecnologias h3{
    color: #F2F2F2;
    margin-top: 30px;
    margin-left: 20px;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.btns input{
    border: 1px solid #9CA656;
    border-radius: 8px;
    background: #9CA656;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 88px;
    height: 26px;
}

.meus-projetos{
    background-color: #595959;
    border: solid 1px #595959;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0d0d0d;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
    width: 952px;
    height: 86px;       
}

.meus-projetos p {
    margin-left: 30px;
    margin-top: 30px;
    color: #F2F2F2;
    font-size: 1.3rem
}

.meus-projetos a{
    margin-right: 30px;
    margin-top: 30px;
    color: #F2F2F2;
    text-decoration: none;
}

.projetos-de-apresentacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-top: 31px;
}

.codigo{
    background-color: #595959;
    border: solid 1px #595959;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0d0d0d;
    Width:461px;
    Height:186px;
    margin-right: 30px;
    margin-top: 30px;
}

.codigo p {
    margin-left: 30px;
    margin-right: 10px;
    color: #F2F2F2;
}


.codigo p a {
    color: #A0BF30;
    text-decoration: none;
}

.titulo-cod{
    display: flex;
}

.titulo-cod img {
    margin-left: 30px;
    margin-top: 31px;
    height: 20px;
    width: 20px;
}

.titulo-cod p {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
